Package: com.asphyxia.keyboardcolorxii
Name: keyboardColorXII
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Change your keyboard color on iOS 12!
Maintainer: asphyxia
Author: asphyxia
Section: Tweaks
